// Font
$font-family: Roboto, Raleway, Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

// Color
$color-primary: #00749a;
$color-secondary: #23282d;
$color-devider: #ccc;
//
$color-text-primary: #000;
$color-text-secondary: #fff;
$color-text-tertiary: #888;
//
$color-background-primary: #f2f2f2;
$color-background-secondary: #fff;
//
$color-alpha: rgba(0, 0, 0, .25);
